h1{
    text-align:center;
}

#playerOne {
    text-align:center;
}

#playerTwo {
    text-align:center;
}

.jumbotron {

    background-color: aqua;
    border-style: solid;
}

body {
    background-color: orange;
}

.panelHeight {
    min-height: 312px;
    border: solid 4px;
    margin-top: 20px;
}

.list-group-item {
    background-color: orange;
    border: none;
}

#textarea {
    margin-bottom: 10px;
    width: 100%;
}

.highlight {
    border-color: aqua;
}